* {
  box-sizing: border-box;
}

body {
  margin: 10px;
  font-family: 'Times New Roman', Times, serif;
  color: black;
}

h1 {
  color: rgb(17, 85, 204) ;
  font-size: 52px;
}

 h2{
   font-size: 34px;
 }

 h3{
  text-align: left;
  text-decoration: underline;
  color: rgb(17, 85, 204);
  font-size: 22px;
}


.wrapper {
  text-align: left;
  width: 600px;
  margin: auto;
}
p{
  line-height:150%;

}

a:link{
  color: blue;
}
a:visited{
color: darkblue;
}
a:hover{
color: green;
}
a:active{
color: lightgreen;
}

nav{
  text-align: center;
  font-size: 20px;
  border: 0px solid #000;
  background-color: white;
}
body{
  background-color: rgb(17, 85, 204);
}
